<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Generic Title{% endblock %}</title>
</head>
<body>
<div>
    {% if request.user.is_authenticated %}
        You are logged as {{ request.user.username }} (<a href="{% url 'qa:logout' %}?next={{ request.path }}">logout</a>)
    {% else %}
        Please, <a href="{% url 'qa:login' %}">login</a> or <a href="{% url 'qa:signup' %}">sign up</a>
    {% endif %}
</div>
<div>
    {% block header %}
        <ul class="navigation">
            <li><a href="{% url 'qa:main' %}">Return to main</a></li>
            <li><a href="{% url 'qa:ask' %}">Ask a new question</a></li>
        </ul>
    {% endblock %}
</div>
<div>{% block content %}Generic Content{% endblock %}</div>
<div>{% block footer %}Generic Footer{% endblock %}</div>
</body>
</html>